.body-part {
  background-color: #eef1f7;
  border: 1px solid #eef1f7;
}

li {
  list-style-type: none;
  border-radius: 20px;
  margin: 2%;
  padding: 1%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-image: linear-gradient(
    to right,
    rgb(231, 243, 243),
    rgb(202, 226, 230)
  );
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

li:hover {
  background-color: rgb(208, 227, 250);
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-input {
  padding-bottom: 10px;
  width: 100%;
  border: 0.7px solid rgb(223, 220, 220);
  border-radius: 5px;
  font-size: 14px;
  height: 39px;
  margin: 0 1.5px 0.4rem;
  padding-left: 12px;
  border-width: 0.5px;
  background-color: #f5f9ff;
  outline: none;
  transition: background-color 0.3s;
  font-size: large;
}

.my-input:focus {
  background-color: rgb(243, 231, 231);
}

.my-input::placeholder {
  font-size: 13px;
}

@media (min-width: 768px) {
  .my-input {
    width: 400px;
    height: 43px;
    font-size: 14px;
    padding-left: 17px;
  }
}

.modal-content {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 5%;
  right: 8%;
  font-size: larger;
  cursor: pointer;
}

.btn-div {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
.add-btn {
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgb(223, 220, 220);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.add-btn:hover {
  background-color: rgb(231, 242, 245);
}
.del-btn {
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgb(223, 220, 220);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.del-btn:hover {
  background-color: rgb(237, 241, 243);
}
